In [150]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Diego Salcedo\Downloads\dataset_SCL.csv')
df

C:\Users\Diego Salcedo\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3433: DtypeWarning: Columns (1,6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES
0,2017-01-01 23:30:00,226,SCEL,KMIA,AAL,2017-01-01 23:33:00,226,SCEL,KMIA,AAL,1,1,2017,Domingo,I,American Airlines,Santiago,Miami
1,2017-01-02 23:30:00,226,SCEL,KMIA,AAL,2017-01-02 23:39:00,226,SCEL,KMIA,AAL,2,1,2017,Lunes,I,American Airlines,Santiago,Miami
2,2017-01-03 23:30:00,226,SCEL,KMIA,AAL,2017-01-03 23:39:00,226,SCEL,KMIA,AAL,3,1,2017,Martes,I,American Airlines,Santiago,Miami
3,2017-01-04 23:30:00,226,SCEL,KMIA,AAL,2017-01-04 23:33:00,226,SCEL,KMIA,AAL,4,1,2017,Miercoles,I,American Airlines,Santiago,Miami
4,2017-01-05 23:30:00,226,SCEL,KMIA,AAL,2017-01-05 23:28:00,226,SCEL,KMIA,AAL,5,1,2017,Jueves,I,American Airlines,Santiago,Miami
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68201,2017-12-22 14:55:00,400,SCEL,SPJC,JAT,2017-12-22 15:41:00,400.0,SCEL,SPJC,JAT,22,12,2017,Viernes,I,JetSmart SPA,Santiago,Lima
68202,2017-12-25 14:55:00,400,SCEL,SPJC,JAT,2017-12-25 15:11:00,400.0,SCEL,SPJC,JAT,25,12,2017,Lunes,I,JetSmart SPA,Santiago,Lima
68203,2017-12-27 14:55:00,400,SCEL,SPJC,JAT,2017-12-27 15:35:00,400.0,SCEL,SPJC,JAT,27,12,2017,Miercoles,I,JetSmart SPA,Santiago,Lima
68204,2017-12-29 14:55:00,400,SCEL,SPJC,JAT,2017-12-29 15:08:00,400.0,SCEL,SPJC,JAT,29,12,2017,Viernes,I,JetSmart SPA,Santiago,Lima
68205,2017-12-31 14:55:00,400,SCEL,SPJC,JAT,2017-12-31 15:04:00,400.0,SCEL,SPJC,JAT,31,12,2017,Domingo,I,JetSmart SPA,Santiago,Lima

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68206 entries, 0 to 68205
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Fecha-I    68206 non-null  object
 1   Vlo-I      68206 non-null  object
 2   Ori-I      68206 non-null  object
 3   Des-I      68206 non-null  object
 4   Emp-I      68206 non-null  object
 5   Fecha-O    68206 non-null  object
 6   Vlo-O      68205 non-null  object
 7   Ori-O      68206 non-null  object
 8   Des-O      68206 non-null  object
 9   Emp-O      68206 non-null  object
 10  DIA        68206 non-null  int64
 11  MES        68206 non-null  int64
 12  AÑO        68206 non-null  int64
 13  DIANOM     68206 non-null  object
 14  TIPOVUELO  68206 non-null  object
 15  OPERA      68206 non-null  object
 16  SIGLAORI   68206 non-null  object
 17  SIGLADES   68206 non-null  object
dtypes: int64(3), object(15)
memory usage: 9.4+ MB

In [69]:
# Tip para obtener nombres de columnas más rápido
num_cols = ['DIA','MES','AÑO']
cat_cols = list(set(df.columns).difference(num_cols))
print(f'Variables numéricas: {num_cols}')
print(f'Variables categóricas: {cat_cols}')

Variables numéricas: ['DIA', 'MES', 'AÑO']
Variables categóricas: ['Ori-I', 'Des-I', 'SIGLAORI', 'Des-O', 'Vlo-O', 'Fecha-I', 'OPERA', 'Vlo-I', 'Emp-I', 'Fecha-O', 'TIPOVUELO', 'DIANOM', 'Emp-O', 'Ori-O', 'SIGLADES']

In [70]:
df['TIPOVUELO'].value_counts()

N    36966
I    31240
Name: TIPOVUELO, dtype: int64

In [152]:
from datetime import datetime
import numpy as np
df.rename(columns = {'Fecha-I':'programada', 'Fecha-O':'operacion'}, inplace = True)
df["fecha_programada"] = (df["programada"].str.split(" ", n = 1, expand = True))[0]
df["hora_programada"] = (df["programada"].str.split(" ", n = 1, expand = True))[1]
df["fecha_operacion"] = (df["operacion"].str.split(" ", n = 1, expand = True))[0]
df["hora_operacion"] = (df["operacion"].str.split(" ", n = 1, expand = True))[1]
df["casuistica"] = np.where(df["fecha_programada"]  == df["fecha_operacion"] , np.where(df["hora_programada"]  == df["hora_operacion"] , 'match',  'no_match_hora')   , 'fecha_distinta' )
df["casuistica_dicotomica"] = df['casuistica'].apply(lambda x: x if x in ('no_match_hora', 'fecha_distinta') else 'match')
df.loc[(df['casuistica'] == 'no_match_hora') | (df['casuistica'] == 'fecha_distinta'), 'casuistica_dicotomica'] = 'no_match'  
df.head(10)
#df1.to_csv(r'C:\Users\Diego Salcedo\Downloads\export3.csv', index = False)
#df1["casuistica_dicotomica"] = np.where(df1["fecha_programada"]  == 'no match hora' | df1["fecha_programada"]  == 'fecha distinta', 'match')
#wine_df.loc[(wine_df.country == 'US') | (wine_df.price > 100)]
#df.loc[(df['casuistica'] != 'Bill') & (df['casuistica'] != 'Emma'), 'casuistica_dicotomica'] = 'match'
#df1["casuistica"] = np.where(df1["fecha_programada"]  == df1["fecha_operacion"] , 'mismo día', 'otro dia')
#df1['programada'] = df1['programada'].astype('str')
##df1.loc[(df1.casuistica == 'no match hora') & (df1.points > 90)]
#df1.loc[(df1.casuistica == 'no match hora') | (df1.casuistica > 'fecha distinta')]

,programada,Vlo-I,Ori-I,Des-I,Emp-I,operacion,Vlo-O,Ori-O,Des-O,Emp-O,...,TIPOVUELO,OPERA,SIGLAORI,SIGLADES,fecha_programada,hora_programada,fecha_operacion,hora_operacion,casuistica,casuistica_dicotomica
0,2017-01-01 23:30:00,226,SCEL,KMIA,AAL,2017-01-01 23:33:00,226,SCEL,KMIA,AAL,...,I,American Airlines,Santiago,Miami,2017-01-01,23:30:00,2017-01-01,23:33:00,no_match_hora,no_match
1,2017-01-02 23:30:00,226,SCEL,KMIA,AAL,2017-01-02 23:39:00,226,SCEL,KMIA,AAL,...,I,American Airlines,Santiago,Miami,2017-01-02,23:30:00,2017-01-02,23:39:00,no_match_hora,no_match
2,2017-01-03 23:30:00,226,SCEL,KMIA,AAL,2017-01-03 23:39:00,226,SCEL,KMIA,AAL,...,I,American Airlines,Santiago,Miami,2017-01-03,23:30:00,2017-01-03,23:39:00,no_match_hora,no_match
3,2017-01-04 23:30:00,226,SCEL,KMIA,AAL,2017-01-04 23:33:00,226,SCEL,KMIA,AAL,...,I,American Airlines,Santiago,Miami,2017-01-04,23:30:00,2017-01-04,23:33:00,no_match_hora,no_match
4,2017-01-05 23:30:00,226,SCEL,KMIA,AAL,2017-01-05 23:28:00,226,SCEL,KMIA,AAL,...,I,American Airlines,Santiago,Miami,2017-01-05,23:30:00,2017-01-05,23:28:00,no_match_hora,no_match
5,2017-01-06 23:30:00,226,SCEL,KMIA,AAL,2017-01-07 00:04:00,226,SCEL,KMIA,AAL,...,I,American Airlines,Santiago,Miami,2017-01-06,23:30:00,2017-01-07,00:04:00,fecha_distinta,no_match
6,2017-01-07 23:30:00,226,SCEL,KMIA,AAL,2017-01-07 23:25:00,226,SCEL,KMIA,AAL,...,I,American Airlines,Santiago,Miami,2017-01-07,23:30:00,2017-01-07,23:25:00,no_match_hora,no_match
7,2017-01-08 23:30:00,226,SCEL,KMIA,AAL,2017-01-08 23:25:00,226,SCEL,KMIA,AAL,...,I,American Airlines,Santiago,Miami,2017-01-08,23:30:00,2017-01-08,23:25:00,no_match_hora,no_match
8,2017-01-09 23:30:00,226,SCEL,KMIA,AAL,2017-01-10 00:10:00,226,SCEL,KMIA,AAL,...,I,American Airlines,Santiago,Miami,2017-01-09,23:30:00,2017-01-10,00:10:00,fecha_distinta,no_match
9,2017-01-11 23:30:00,226,SCEL,KMIA,AAL,2017-01-12 00:39:00,226,SCEL,KMIA,AAL,...,I,American Airlines,Santiago,Miami,2017-01-11,23:30:00,2017-01-12,00:39:00,fecha_distinta,no_match

In [149]:
df.casuistica.value_counts()

no_match_hora     63111
match              4789
fecha_distinta      306
Name: casuistica, dtype: int64

In [154]:
df.casuistica_dicotomica.value_counts()

no_match    63417
match        4789
Name: casuistica_dicotomica, dtype: int64

In [155]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68206 entries, 0 to 68205
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   programada             68206 non-null  object
 1   Vlo-I                  68206 non-null  object
 2   Ori-I                  68206 non-null  object
 3   Des-I                  68206 non-null  object
 4   Emp-I                  68206 non-null  object
 5   operacion              68206 non-null  object
 6   Vlo-O                  68205 non-null  object
 7   Ori-O                  68206 non-null  object
 8   Des-O                  68206 non-null  object
 9   Emp-O                  68206 non-null  object
 10  DIA                    68206 non-null  int64
 11  MES                    68206 non-null  int64
 12  AÑO                    68206 non-null  int64
 13  DIANOM                 68206 non-null  object
 14  TIPOVUELO              68206 non-null  object
 15  OPERA                  68206 non-null  object
 16  SIGLAORI               68206 non-null  object
 17  SIGLADES               68206 non-null  object
 18  fecha_programada       68206 non-null  object
 19  hora_programada        68206 non-null  object
 20  fecha_operacion        68206 non-null  object
 21  hora_operacion         68206 non-null  object
 22  casuistica             68206 non-null  object
 23  casuistica_dicotomica  68206 non-null  object
dtypes: int64(3), object(21)
memory usage: 12.5+ MB

In [131]:
import datetime
from datetime import datetime


# convert string to date object
#df1['hora_programada'] = df1['hora_programada'].astype('datetime')
#df1['hora_operacion'] = df1['hora_operacion'].astype('datetime')
#df1["hora_programada"] = datetime.strptime(df1["hora_programada"], "%d/%m/%Y")
#df1["hora_operacion"] = datetime.strptime(df1["hora_operacion"], "%d/%m/%Y")
#df1["diferencia"] = abs((df1["hora_programada"] - df1["hora_operacion"]).days)
# Get the relativedelta between two dates
#df1["diferencia"] = relativedelta.relativedelta(df1["hora_programada"], df1["hora_operacion"])
##print('Years, Months, Days between two dates is')
##print(df1["diferencia"].years)

df1["hora_programada"] = df1.hora_programada.apply(lambda x: datetime.strptime(x,'%H:%M:%S'))
df1["hora_operacion"] = df1.hora_operacion.apply(lambda x: datetime.strptime(x,'%H:%M:%S'))
df1["diferencia_horas"] = df1["hora_programada"] - df1["hora_operacion"]

TypeError: strptime() argument 1 must be str, not Timestamp

In [ ]:
df1['programada'] = df1['programada'].str.split('.', expand=True)[0]
df1['programada'] = df1.programada.apply(lambda x: datetime.strptime(x,'%Y-%m-%d %H:%M:%S')) #darle formato - datetime
#df['Fecha-I'] = df.published.apply(lambda x: datetime.strftime(x,'%Y-%m-%d')) # datetime a string - como quiero visualiza
#df['Fecha-I'] = df.published.apply(lambda x: datetime.strptime(x,'%Y-%m-%d').date())


df1['operacion'] = df1['operacion'].astype('str') #convertir variables string
df1['operacion'] = df1['operacion'].str.split('.', expand=True)[0]
df1['operacion'] = df1.operacion.apply(lambda x: datetime.strptime(x,'%Y-%m-%d %H:%M:%S'))

In [26]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68206 entries, 0 to 68205
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   programada  68206 non-null  datetime64[ns]
 1   operacion   68206 non-null  datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 1.0 MB

In [65]:
df1[['programada','operacion']]
df1['programada_1'] = str(df1['programada'] )
df1['operacion_1'] = str(df1['operacion'] )
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68206 entries, 0 to 68205
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   programada    68206 non-null  object
 1   operacion     68206 non-null  object
 2   diferencia    68206 non-null  timedelta64[ns]
 3   programada_1  68206 non-null  object
 4   operacion_!   68206 non-null  object
 5   operacion_1   68206 non-null  object
dtypes: object(5), timedelta64[ns](1)
memory usage: 3.1+ MB

C:\Users\Diego Salcedo\AppData\Local\Temp\ipykernel_178052\1794875075.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['programada_1'] = str(df1['programada'] )
C:\Users\Diego Salcedo\AppData\Local\Temp\ipykernel_178052\1794875075.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['operacion_1'] = str(df1['operacion'] )

In [ ]:
df1['dia_programada']= df1['programada'].split()[0]

In [62]:
from datetime import datetime as dt
res = (dt.strptime('2022/2/20', "%Y/%m/%d") - dt.strptime('2021/10/20', "%Y/%m/%d")).days

In [63]:
import numpy as np
df1['diferencia'] = df1['operacion'] - df1['programada']
df1['diferencia']

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
df1['diferencia'] = df1['diferencia'].dt.total_seconds().round()
df1['diferencia']

AttributeError: Can only use .dt accessor with datetimelike values

In [ ]:
import pandas as pd

participant = ['Joe', 'Eric', 'Aaron']

duration = [pd.Timedelta(hours =  2, minutes = 15, seconds = 15) ,
            pd.Timedelta(hours =  2, minutes = 45, seconds = 10), 
            pd.Timedelta(hours =  2, minutes = 53, seconds = 22)]

#create DataFrame
times_df = pd.DataFrame ( dict(participant=participant, duration = duration))

print (times_df.head())

  participant        duration
0         Joe 0 days 02:15:15
1        Eric 0 days 02:45:10
2       Aaron 0 days 02:53:22

In [ ]:
times_df

  participant        duration
0         Joe 0 days 02:15:15
1        Eric 0 days 02:45:10
2       Aaron 0 days 02:53:22

In [ ]:
#df1['orden'] = np.where(df[df1['operacion']] > df1['programada'] , 'operacion>programada', df[df1['operacion'] == df1['programada'] , 'operacion=programada', 'operacion<programada' )
#df1['orden'] = np.where(df[df1['operacion']] > df1[['programada']] , 'operacion>programada')

In [ ]:
times_df['duration_seconds'] = times_df['duration'].dt.total_seconds().round()
times_df['duration_seconds']

0     8115.0
1     9910.0
2    10402.0
Name: duration_seconds, dtype: float64

In [46]:
times_df['duration_seconds'] = times_df['duration'].dt.total_seconds().astype('int64')
times_df['duration_seconds']

0     8115
1     9910
2    10402
Name: duration_seconds, dtype: int64

In [47]:
times_df['duration_seconds'] = times_df['duration'].apply (lambda cell: cell.total_seconds())
times_df['duration_seconds']

0     8115.0
1     9910.0
2    10402.0
Name: duration_seconds, dtype: float64

In [48]:
times_df['duration_minutes'] = (times_df['duration'].dt.total_seconds()/60).round(2)
times_df['duration_minutes']

0    135.25
1    165.17
2    173.37
Name: duration_minutes, dtype: float64

In [ ]:
df1['diferencia'] = df1['diferencia'].total_seconds() / 60

In [49]:
times_df['duration_hours'] = (times_df['duration'].dt.total_seconds()/3600).round(2)
times_df['duration_hours']

0    2.25
1    2.75
2    2.89
Name: duration_hours, dtype: float64

In [50]:
times_df.head()

,participant,duration,duration_seconds,duration_minutes,duration_hours
0,Joe,0 days 02:15:15,8115.0,135.25,2.25
1,Eric,0 days 02:45:10,9910.0,165.17,2.75
2,Aaron,0 days 02:53:22,10402.0,173.37,2.89

In [30]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68206 entries, 0 to 68205
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   programada  68206 non-null  datetime64[ns]
 1   operacion   68206 non-null  datetime64[ns]
 2   diferencia  68206 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), timedelta64[ns](1)
memory usage: 1.6 MB