In [7]:
import pandas as pd
from datetime import datetime
import numpy as np

df = pd.read_csv('dataset_SCL.csv')
df

C:\Users\Diego Salcedo\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3433: DtypeWarning: Columns (1,6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES
0,2017-01-01 23:30:00,226,SCEL,KMIA,AAL,2017-01-01 23:33:00,226,SCEL,KMIA,AAL,1,1,2017,Domingo,I,American Airlines,Santiago,Miami
1,2017-01-02 23:30:00,226,SCEL,KMIA,AAL,2017-01-02 23:39:00,226,SCEL,KMIA,AAL,2,1,2017,Lunes,I,American Airlines,Santiago,Miami
2,2017-01-03 23:30:00,226,SCEL,KMIA,AAL,2017-01-03 23:39:00,226,SCEL,KMIA,AAL,3,1,2017,Martes,I,American Airlines,Santiago,Miami
3,2017-01-04 23:30:00,226,SCEL,KMIA,AAL,2017-01-04 23:33:00,226,SCEL,KMIA,AAL,4,1,2017,Miercoles,I,American Airlines,Santiago,Miami
4,2017-01-05 23:30:00,226,SCEL,KMIA,AAL,2017-01-05 23:28:00,226,SCEL,KMIA,AAL,5,1,2017,Jueves,I,American Airlines,Santiago,Miami
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68201,2017-12-22 14:55:00,400,SCEL,SPJC,JAT,2017-12-22 15:41:00,400.0,SCEL,SPJC,JAT,22,12,2017,Viernes,I,JetSmart SPA,Santiago,Lima
68202,2017-12-25 14:55:00,400,SCEL,SPJC,JAT,2017-12-25 15:11:00,400.0,SCEL,SPJC,JAT,25,12,2017,Lunes,I,JetSmart SPA,Santiago,Lima
68203,2017-12-27 14:55:00,400,SCEL,SPJC,JAT,2017-12-27 15:35:00,400.0,SCEL,SPJC,JAT,27,12,2017,Miercoles,I,JetSmart SPA,Santiago,Lima
68204,2017-12-29 14:55:00,400,SCEL,SPJC,JAT,2017-12-29 15:08:00,400.0,SCEL,SPJC,JAT,29,12,2017,Viernes,I,JetSmart SPA,Santiago,Lima
68205,2017-12-31 14:55:00,400,SCEL,SPJC,JAT,2017-12-31 15:04:00,400.0,SCEL,SPJC,JAT,31,12,2017,Domingo,I,JetSmart SPA,Santiago,Lima

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68206 entries, 0 to 68205
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Fecha-I    68206 non-null  object
 1   Vlo-I      68206 non-null  object
 2   Ori-I      68206 non-null  object
 3   Des-I      68206 non-null  object
 4   Emp-I      68206 non-null  object
 5   Fecha-O    68206 non-null  object
 6   Vlo-O      68205 non-null  object
 7   Ori-O      68206 non-null  object
 8   Des-O      68206 non-null  object
 9   Emp-O      68206 non-null  object
 10  DIA        68206 non-null  int64
 11  MES        68206 non-null  int64
 12  AÑO        68206 non-null  int64
 13  DIANOM     68206 non-null  object
 14  TIPOVUELO  68206 non-null  object
 15  OPERA      68206 non-null  object
 16  SIGLAORI   68206 non-null  object
 17  SIGLADES   68206 non-null  object
dtypes: int64(3), object(15)
memory usage: 9.4+ MB

In [4]:
# Tip para obtener nombres de columnas más rápido
num_cols = ['DIA','MES','AÑO']
cat_cols = list(set(df.columns).difference(num_cols))
print(f'Variables numéricas: {num_cols}')
print(f'Variables categóricas: {cat_cols}')

Variables numéricas: ['DIA', 'MES', 'AÑO']
Variables categóricas: ['Des-I', 'Vlo-I', 'SIGLADES', 'SIGLAORI', 'OPERA', 'DIANOM', 'Emp-I', 'Vlo-O', 'Fecha-I', 'Emp-O', 'TIPOVUELO', 'Ori-I', 'Fecha-O', 'Ori-O', 'Des-O']

In [25]:
##### VALIDACIONES
#  'Ori-I'   'Ori-O'   'SIGLAORI'
#  'Des-I'   'Des-O'   'SIGLADES'
#  'Vlo-I'   'Vlo-O'
#  'Fecha-I' 'Fecha-O'
#  'Emp-I'    'Emp-O'
#result = df.groupby(['Ori-I','Ori-O','SIGLAORI','Des-O']).count()
result = df.groupby(['Ori-I','Ori-O','SIGLAORI']).count()
result

,,,Fecha-I,Vlo-I,Des-I,Emp-I,Fecha-O,Vlo-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLADES
Ori-I,Ori-O,SIGLAORI,,,,,,,,,,,,,,,
SCEL,SCEL,Santiago,68206,68206,68206,68206,68206,68205,68206,68206,68206,68206,68206,68206,68206,68206,68206

In [35]:
result = df.groupby(['Des-I','Des-O','SIGLADES']).count()
resultado = pd.DataFrame(result)
resultado.reset_index(inplace=True)
resultado
##resultado_corto = resultado[['Des-I','Des-O']]
resultado.to_csv('validacion_destino.csv', index = False)

In [ ]:
result = df.groupby(['Ori-I','Ori-O','SIGLAORI']).count()
result

In [12]:
#df['Des-I'].value_counts(dropna=False)/df.shape[0]
df['Des-I'].value_counts(dropna=False)

SCFA    5787
SPJC    5270
SCCF    5145
SCTE    4357
SCIE    3995
        ...
SBFI       1
SPSO       1
SEQU       1
SEQM       1
SARI       1
Name: Des-I, Length: 64, dtype: int64

In [15]:
df['Vlo-I'].value_counts(dropna=False)

174     686
11      645
116     608
150     557
162     553
       ...
1158      1
368       1
9955      1
9701      1
1218      1
Name: Vlo-I, Length: 750, dtype: int64

In [19]:
df['Emp-I'].value_counts(dropna=False)

LAN    37611
SKU    14298
TAM     3049
ARG     1949
CMP     1850
LAW     1574
AVA     1152
JAT     1095
GLO      806
AAL      757
ACA      565
IBE      362
AFR      358
DAL      358
AMX      351
UAL      335
ONE      279
AZA      259
KLM      251
LAP      216
BAW      205
QFU      195
JMR      100
LRC       92
AUT       74
PUE       49
LXP        9
LPE        4
DSM        2
LNE        1
Name: Emp-I, dtype: int64

In [18]:
df['DIANOM'].value_counts(dropna=False)

Viernes      10292
Jueves       10251
Lunes        10131
Domingo       9796
Miercoles     9722
Martes        9662
Sabado        8352
Name: DIANOM, dtype: int64

In [5]:
df['TIPOVUELO'].value_counts()

N    36966
I    31240
Name: TIPOVUELO, dtype: int64

In [6]:
df['SIGLADES'].value_counts()

Buenos Aires      6335
Antofagasta       5786
Lima              5270
Calama            5146
Puerto Montt      4357
                  ...
Quito                2
Washington           1
Pisco, Peru          1
Puerto Stanley       1
Cochabamba           1
Name: SIGLADES, Length: 62, dtype: int64

In [7]:
df.rename(columns = {'Fecha-I':'programada', 'Fecha-O':'operacion'}, inplace = True)
df["fecha_programada"] = (df["programada"].str.split(" ", n = 1, expand = True))[0]
df["hora_programada"] = (df["programada"].str.split(" ", n = 1, expand = True))[1]
df["fecha_operacion"] = (df["operacion"].str.split(" ", n = 1, expand = True))[0]
df["hora_operacion"] = (df["operacion"].str.split(" ", n = 1, expand = True))[1]
df["casuistica"] = np.where(df["fecha_programada"]  == df["fecha_operacion"] , np.where(df["hora_programada"]  == df["hora_operacion"] , 'match',  'no_match_hora')   , 'fecha_distinta' )
df["casuistica_dicotomica"] = df['casuistica'].apply(lambda x: x if x in ('no_match_hora', 'fecha_distinta') else 'match')
df.loc[(df['casuistica'] == 'no_match_hora') | (df['casuistica'] == 'fecha_distinta'), 'casuistica_dicotomica'] = 'no_match'  
df.head(10)
df.to_csv(r'C:\Users\Diego Salcedo\Downloads\export.csv', index = False)

In [8]:
df.casuistica.value_counts()

no_match_hora     63111
match              4789
fecha_distinta      306
Name: casuistica, dtype: int64

In [9]:
df.casuistica_dicotomica.value_counts()

no_match    63417
match        4789
Name: casuistica_dicotomica, dtype: int64

In [131]:
import datetime
from datetime import datetime


# convert string to date object
#df1['hora_programada'] = df1['hora_programada'].astype('datetime')
#df1['hora_operacion'] = df1['hora_operacion'].astype('datetime')
#df1["hora_programada"] = datetime.strptime(df1["hora_programada"], "%d/%m/%Y")
#df1["hora_operacion"] = datetime.strptime(df1["hora_operacion"], "%d/%m/%Y")
#df1["diferencia"] = abs((df1["hora_programada"] - df1["hora_operacion"]).days)
# Get the relativedelta between two dates
#df1["diferencia"] = relativedelta.relativedelta(df1["hora_programada"], df1["hora_operacion"])
##print('Years, Months, Days between two dates is')
##print(df1["diferencia"].years)

df1["hora_programada"] = df1.hora_programada.apply(lambda x: datetime.strptime(x,'%H:%M:%S'))
df1["hora_operacion"] = df1.hora_operacion.apply(lambda x: datetime.strptime(x,'%H:%M:%S'))
df1["diferencia_horas"] = df1["hora_programada"] - df1["hora_operacion"]

TypeError: strptime() argument 1 must be str, not Timestamp

In [ ]:
#df1["casuistica_dicotomica"] = np.where(df1["fecha_programada"]  == 'no match hora' | df1["fecha_programada"]  == 'fecha distinta', 'match')
#wine_df.loc[(wine_df.country == 'US') | (wine_df.price > 100)]
#df.loc[(df['casuistica'] != 'Bill') & (df['casuistica'] != 'Emma'), 'casuistica_dicotomica'] = 'match'
#df1["casuistica"] = np.where(df1["fecha_programada"]  == df1["fecha_operacion"] , 'mismo día', 'otro dia')
#df1['programada'] = df1['programada'].astype('str')
##df1.loc[(df1.casuistica == 'no match hora') & (df1.points > 90)]
#df1.loc[(df1.casuistica == 'no match hora') | (df1.casuistica > 'fecha distinta')]